.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    gap: 1rem;

    @media (max-width: 48rem) {
        width: 95%;
    }
}

.title {
    font-size: 600%;
    color: #0070f0;
    text-align: center;
}

.link {
    color: #0070f0;
}

.link:hover {
    text-decoration: underline;
}

