html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fafafa;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
}

.jump {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  right: 10%;
  bottom: 5%;
  width: 32px;
  height: 32px;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
  transform: scale(0);
  background-color: #363955;
  color: #fafafa;
  border-radius: 50px;

  transition: all 250ms ease-in-out;

  @media (min-width: 48rem) {
    right: 5%;
    bottom: 10%;
  }

  &.visible {
    transform: scale(2);
    transition: all 250ms ease-in-out;

    @media (min-width: 48rem) {
      transform: scale(3);
    }
  }
}
