.navbar {
    display: flex;
    justify-content: center;

    div {
        margin: 1rem;
        transition: color 150ms ease-in-out;
        
        a:hover {
            color: #0070f0;
            transition: color 150ms ease-in-out;
        }
    }

    
}